<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta http-equiv="Content-Security-Policy" content="default-src *;
      img-src * 'self' data: https: http:;
      script-src 'self' 'unsafe-inline' 'unsafe-eval' *;
      style-src  'self' 'unsafe-inline' *">

  <title>Reset Password</title>

  <!-- Bootstrap CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">


  <style>
    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    html,
    body {
      height: 100%;
    }

    body {
      display: flex;
      align-items: center;
      padding-top: 40px;
      padding-bottom: 40px;
      background-color: #f5f5f5;
    }

    .form-signin {
      width: 100%;
      max-width: 330px;
      padding: 15px;
      margin: auto;
    }
  </style>
</head>

<body class="text-center">

  <main class="form-signin">

    <!-- Your logo -->
    <svg class="mb-4" xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="#d9534f"
      class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
      <path
        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
    </svg>

    <h1 class="h3 mb-3 fw-normal">Oops!</h1>
    <p>Something went wrong. Please try again.</p>
  </main>

  <!-- Bootstrap JS -->
  <script type="text/javascript" href="/js/bootstrap.bundle.js"></script>
</body>

</html>